$font-path: "../assets/fonts";
$app-direction: ltr;
@import "ionic.globals";
$colors: ( primary: rgb(121, 116, 103), secondary: rgb(141, 142, 156), danger: #778fb6, light: rgb(138, 136, 136), dark: #2D3238, twitter: #55acee);
@import "ionic.theme.default";
@import "ionic.ionicons";
@import "roboto";
@import "noto-sans";
$control-height: 40px;
.header .sub-header {
    height: $control-height;
}

my-custom-component {
    background: color($colors, twitter, base);
}

my-custom-component {
    background: #55acee;
}